<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/jass.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/customStyle.css">
    <title>Home</title>
</head>
<body>
    {{#if loggedin}}
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img height="12%" width="12%" src="./Photoleap.png"></a>
              <div class="justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-auto mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#">My Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Log In</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    {{/if}}
    {{{body}}}
</body>
</html>