.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.background {
    background-image: url("https://img.freepik.com/free-vector/giant-octopus-swim-water-ocean-vector-cartoon-illustration-underwater-sea-landscape-with-marine-animal-with-tentacles-suckers-ocean-bottom-with-seaweed-stones-purple-squid_107791-11722.jpg?w=2000&t=st=1665599902~exp=1665600502~hmac=5ad63e652585c99971a135bdee7dd2b69dd5a5a70f337d60781817343ef3fdd3");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size:cover;
  }
  
  .opacity {
    background-color: rgba(255, 255, 255, 0.544) !important;
  }
  
  .no-wrap {
    display: flex !important;
    flex-direction: horizontal !important;
    flex-wrap: nowrap !important;
    white-space: nowrap;
  }
  
  .bckgrndcolor {
    background-color: #3733b44a !important;
    background-image: url("https://img.freepik.com/free-vector/giant-octopus-swim-water-ocean-vector-cartoon-illustration-underwater-sea-landscape-with-marine-animal-with-tentacles-suckers-ocean-bottom-with-seaweed-stones-purple-squid_107791-11722.jpg?w=2000&t=st=1665599902~exp=1665600502~hmac=5ad63e652585c99971a135bdee7dd2b69dd5a5a70f337d60781817343ef3fdd3");
    background-repeat: no-repeat;
  }

  .profile-style {
    padding: 40px;
    margin-bottom: 30px;
    background-color: #5c53d430 !important;
  }
 
  .octo-cursor {
      cursor:url('../assets/images/hover.PNG') 20 20, pointer;
    }
    .new-post {
      border: none;
      margin-top: 30px;
      background-color: #6029bc;
      color: white;
    }
    .new-post:hover {
      background-color:#420886;
      transition: 0.7s;
  }
   
    .new-post-container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: space-around;
    }